<section class="section">
  <div class="container-section">

    <nav class="menu-responsivo"></nav>
    <div class="lista-categoria">

      <div class="dados-usuario">

        <h1>
          <div class="img">
            <img src="{{usuario.img}}" alt="{{usuario.username}}">
          </div>
          {{usuario.username}}
        </h1>
        <div class="form-group">
            <label for="usuario">Usuário</label>
            <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
            <input [(ngModel)]='usuario.username' class="form-control" type="text" name="usuario" id="usuario" placeholder="Usuário">
        </div>
        <div class="form-group">
            <label for="foto">Link da foto</label>
            <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
            <input [(ngModel)]='usuario.img' class="form-control" type="text" name="foto" id="foto" placeholder="Link de seu perfil">
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <!-- (input) ==> CHAMA UM METODO PARA CONFIRMAR A SENHA, QUE POR SUA VEZ RECEBEU UM VALOR DE confirmeSenha PARA QUE OS DOIS FVALORES POSSAM SER COMPARADOS E VALIDADOS -->
            <input (input)='confirmeSenha($event)' type="password" name="senha" id="senha" placeholder="Senha" />
        </div>
        <div class="form-group">
            <label for="confirmeSenha">Confirmar Senha</label>
            <!-- [(ngModel)] ==> AMAZENA OS DADOS INSERIDOS PELO USUARIO DENTRO DA MODEL -->
            <input [(ngModel)]='usuario.password' class="form-control" type="password" name="confirmeSenha" id="confirmeSenha" placeholder="Confirme sua Senha">
        </div>
        <div class="botoes">
            <button type="submit" routerLink="/login">Cancelar</button>
            <!-- (click) ==> CHAMA UM METODO PARA REALIZAR O CADASTRO DENTRO DA APLICACAO, VALIDANDO OS DADOS INSERIDOS -->
            <button (mouseover)='botaoCadastrarAnimacaoOver()' (mouseout)='botaoCadastrarAnimacaoOut()' type="submit" class="botao-cadastar" (click)='atualizar()'>Atualizar</button>
        </div>

      </div>

    </div>

  </div>
</section>
