<section class="section">
  <div class="container-section">
    <nav class="menu-responsivo" >
      <ul>
        <div class="perfil">
          <div class="img">
            <img src="{{avatar}}" alt="{{username}}">
          </div>
          <p class="username">
            {{username}}
          </p>
        </div>
        <div class="novo-grupo">
          <input [(ngModel)]='novoChat.nome' type="text" name="novoChat" id="novoChat" placeholder="Nova conversa" (change)='apresentaUsuarios(novoChat.nome)' />
          <!--<button type="submit"  >Adicionar</button>-->
        </div>
        <div class="cria-scrolling-chat" *ngFor='let item of chatArray' >
          <a routerLink="/home" (click)='findByIdChat(item)' >
            <img src="{{item.img}}" alt="{{item.nome}}" />
            <p class="texto" >
              {{item.nome}}
            </p>
            <!--<p class="texto" (click)='findByIdChat(item)' >
              {{ultimaMensagem}}
            </p>-->
          </a>
        </div>
      </ul>
    </nav>
    <div class="lista-categoria">
      <div class="background-imagem-chat">
        <h1>
          <div class="img">
            <img src="{{imgConversaUsuario}}" alt="{{nomeChat}}">
          </div>
          {{nomeChat}}
        </h1>
        <ul>
          <div class="cria-scrolling-chat">

            <div class="{{addUsuarioChatClass}}">
              <a *ngFor='let item of listDeUsuario' (click)='criarRelacaoDeUsuarios(item)' >
                <div class="icone">
                  <img src="{{item.img}}" alt="{{item.username}}">
                </div>
                <div class="mesagem">
                  <p class="nome-usuario">
                    {{item.username}}
                  </p>
                </div>
              </a>
            </div>

            <a *ngFor='let item of chat.conversas' >
              <div class="{{ajustaMensagem(item.usuario.id, id)}}">
                <div class="icone">
                  <img src="{{item.usuario.img}}" alt="{{item.usuario.username}}">
                </div>
                <div class="mesagem">
                  <p *ngIf="apresentaNome" class="nome-usuario">
                    {{item.usuario.username}}
                  </p>
                  <p class="conteudo-conversa">
                    {{item.conteudo}}
                  </p>
                  <div class="data-conversa">
                    <p class="data-conversa-p">
                      {{item.data | date: 'HH:mm'}}
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="novo-item-lista" >
            <input [(ngModel)]='conversa.conteudo' type="text" name="lista" id="lista" placeholder="Mensagem" />
            <button type="submit" (click)='adicionarItemLista(id, memoriaIdChat)' >Enviar</button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- MODAL DE LISTA / PUT -->
<!-- <div class="modal fade" id="putLista" tabindex="-1" role="dialog" aria-labelledby="modalPutLista" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title texto-bold" id="texto">Atualizar lista</h2>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <input [(ngModel)]='carregaListaParaEdicao.texto' type="text" name="texto" class="modal-input" id="texto" placeholder="Texto">
        </div>
        <div class="modal-footer">
            <button type="button" (click)='atualizaLista()' data-bs-dismiss="modal" aria-label="Close" >Atualizar</button>
        </div>
      </div>
  </div>
</div> -->

<!-- MODAL DE CATEGORIA / PUT -->
<!-- <div class="modal fade" id="putCategoria" tabindex="-1" role="dialog" aria-labelledby="modalPutCategoria" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title texto-bold" id="categoria">Atualizar categoria</h2>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <input [(ngModel)]='carregaCategoriaParaEdicao.nome' type="text" name="texto" class="modal-input" id="texto" placeholder="Texto">
        </div>
        <div class="modal-footer">
            <button type="button" (click)='atualizaCategoria()' data-bs-dismiss="modal" aria-label="Close" >Atualizar</button>
        </div>
      </div>
  </div>
</div> -->
